@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-decoration:none;
}


.container-lg{
    margin-top: 6vw;
    max-width: 50%;
}

.login_text {
    font-weight: bold;
    padding: 20px;
    font-size: 41px;
}



.btn-custom {
    background-color: #6fb3b8;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 45px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 70px;
}

    .btn-custom:hover {
        background-color: #015D67;
        color: white;
    }

label {
    color: #015D67;
    font-weight: 600;
    padding-top: 1vw;
}